html, body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: normal;
  font-size: 1.6rem;
  color: #333333;
}

h3, #option-form {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  color: #5F6368;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#right {
  position: relative;
  display: flex;
  flex-direction: column;
}

.description {
  color: #666666;
  font-size: .8rem;
}

#right .description {
  text-align: center;
}

textarea {
  width: 100%;
  height: 40px;
  color: #333333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  line-height: 1.1rem;
  padding: 10px;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

textarea::placeholder {
  font-size: 1rem;
}

@font-face {
  font-family: "chesssanspiratf";
  src: url("public/ChessSansPiratf.woff");
}

.hidden {
  visibility: hidden;
  transition-duration: calc(16ms * 5);
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: max-width calc(16ms * 14) cubic-bezier(0, 0, 0.49, 0.99);
  transition-property: max-width, opacity;
}

.left.visible {
  max-width: 15vw;
}

.left.hidden {
  max-width: 0;
}

#move-selector {
  margin-right: 40px;
  width: 168px;
}

#move-selector h3, #move-selector p {
  text-align: center;
}

#move-selector ol {
  user-select: none;
  font-family: "chesssanspiratf", sans-serif;
  color: #666666;
  margin: 0px 20px;
  padding: 0px;
  font-size: .7rem;
}

#move-selector .move {
  display: inline-block;
  padding: 5px 0px;
  cursor: pointer;
  color: #333333;
  font-size: 1rem;
}

#move-selector .move.disabled {
  cursor: inherit;
}

#move-selector .flex {
  width: 60px;
  border: 2px solid transparent;
}

#move-selector .move.hovered:hover .flex {
  border: 2px dotted rgb(149, 82, 238);
  /* border: 2px dotted rgb(70, 136, 241); */
}

#move-selector .selected .flex {
  background-color: rgb(219, 237, 252);
}

/* #move-selector .start .flex {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#move-selector .end .flex {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#move-selector .start .flex, #move-selector .end .flex {
  background-color: rgb(70, 136, 241);
}
*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#examples {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#examples button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  border-radius: 1px;
  margin-left: 10px;
}

#examples button:active {
  background-color: rgb(219, 237, 252);
}

#examples button img {
  height: 16px;
  width: 12px;
  margin-right: 6px;
}

#animated-gif {
  border: 2px solid white;
}

.frozen #animated-gif {
  /* border: 2px dotted rgb(70, 136, 241); */
  border: 2px dotted rgb(149, 82, 238);
  /* border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACASURBVHgBzZG9DYAgEEYPEqwdwAI30FHcxMaEHWzcxFF0AykcgFriD0cMYoLQetWDfJd7uQPwircLjzFxH91aUQLjsekaGOMhJq/gCQ2+Qyz7YqZmRJ4KgtbKaXBhnHYWbzIa1AqngqgxlOonGsRqZGy6x8kQ49qeywnvWh+MdQHHO4PtxHSO2wAAAABJRU5ErkJggg==) 3 repeat; */
}

#option-form {
  text-align: right;
}

.example-footer {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #999999;
}