html, body {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  display: flex;
  flex-direction: row;
}

#middle {
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#right {
  display: flex;
  flex-direction: column;
}

#gif {
  height: 250px;
  width: 250px;
  padding: 20px;
  border: 2px dashed #666666;
}

#gif p {
  margin-top: 0px;
}

#gif .pgn {
  font-size: .4em;
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #FAFAFA;
  height: 80px;
  overflow-y: auto;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  color: #333333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  line-height: 1.6em;
  padding: 10px;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

@font-face {
  font-family: "chesssanspiratf";
  src: url("public/chesssanspiratf.woff");
}

#pgn-selector ol {
  font-family: "chesssanspiratf", sans-serif;
  color: #333333;
  list-style-type: none;
}

#pgn-selector .index {
  display: inline-block;
  width: 15px;
  color: #666666;
  font-size: .7em;
}

#pgn-selector .move {
  display: inline-block;
  height: 20px;
  width: 40px;
  cursor: pointer;
}

#pgn-selector .move:hover {
  text-decoration: underline;
}

#pgn-selector .between {
  background-color: rgb(219, 237, 252);
}

#pgn-selector .start, #pgn-selector .end {
  /*background: linear-gradient(to right, transparent 50%, rgb(219, 237, 252) 50%); */
  border-radius: 20px;
  background-color: rgb(70, 136, 241);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
img.external {
  height: 12px;
  width: 9px;
}

img.example {
  height: 200px;
  width: 200px;
}

#examples {
  display: flex;
  flex-direction: row;
}

h3 {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  color: #5F6368;
}

#examples button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

#examples button img {
  height: 16px;
  width: 12px;
  margin-right: 6px;
}
