html, body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px;
}

#gfychess {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h1 {
  margin: 10px 0px;
}

h2 {
  font-weight: normal;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3, #option-form {
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 10px 0px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  flex: 1 200px;
}

#right {
  flex: 0;
  position: sticky;
  align-self: flex-start;
  top: 20px;
}

@media (max-width: 500px) {
  #container {
    flex-direction: column-reverse;
    align-items: center;
  }

  #right {
    position: inherit;
    align-self: inherit;
    top: inherit;
  }
}

.description {
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.02em;
}

#right .description {
  text-align: center;
}

textarea {
  width: calc(100% - 20px);
  height: 40px;
  color: #333333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  line-height: 1.1rem;
  padding: 10px;
  transition: 0.2s;
  transition-timing-function: ease-in;
  letter-spacing: 0.03em;

  /* for windows */
  font-size: .65em;
  font-family: inherit;
  border: 1px solid black;
}

textarea::placeholder {
  font-size: 1rem;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: "chesssanspiratf";
  src: url("public/ChessSansPiratf.woff");
}

.download-container {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-link {
  background-color: rgb(70, 136, 241);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #1f70f1;
  padding: 4px 14px;
  padding-right: 17px;
}

.download-link:hover {
  background-color: #1f70f1;
}

.hidden {
  visibility: hidden;
  transition-duration: calc(16ms * 5);
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: max-width calc(16ms * 14) cubic-bezier(0, 0, 0.49, 0.99);
  transition-property: max-width, opacity;
}

.left.visible {
  max-width: 200px;
}

.left.hidden {
  max-width: 0;
}

#move-selector {
  margin-right: 40px;
  width: 168px;
}

#move-selector h3, #move-selector p {
  text-align: center;
}

#move-selector .row {
  display: grid;
  width: 170px;
  grid-template-columns: 30px 70px 70px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: "chesssanspiratf", sans-serif;
  color: #666666;
  font-size: .7rem;
}

.rowNum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.drag-handle {
  width: 7px;
  height: 31px;
  display: inline-block;
  position: absolute;
  cursor: grab;
  background: url('public/grip.svg') rgb(70, 136, 241) no-repeat center;
}

#move-selector .description {
  align-items: center;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  margin: 0px;
  padding-left: 30px;
}

#move-selector .table {
  position: relative;
}

#move-selector .move {
  display: inline-block;
  height: 28px;
  font-size: 16px;
  padding: 2px 0px;
  cursor: pointer;
  color: #333333;
}

#move-selector .flex {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#move-selector .move.hovered:hover .flex {
  border-bottom: 4px solid #EEC54C;
}

#move-selector .selected .flex {
  background-color: rgb(219, 237, 252);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#examples {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  height: 36px;
  overflow: hidden;
}

#examples h3 {
  margin-right: 5px;
}

#examples button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  border-radius: 1px;
  margin: 5px;

  /* set these for windows */
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  background-color: inherit;
}

#examples button:hover {
  background-color: #F3F3F3;
}

#examples button:active {
  background-color: rgb(219, 237, 252);
  color: inherit; /* for Safari */
}

#examples button img {
  height: 16px;
  width: 12px;
  margin-right: 6px;
  opacity: .6;
}

#animated-gif {
  border: 5px solid white;
  max-height: 384px;
  max-width: 384px;
}

.frozen #animated-gif {
  border: 5px solid #EEC54C;
}

#option-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  user-select: none;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.example-footer {
  letter-spacing: 0.15em;
  color: #999999;
  margin-bottom: 0px;
}